<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <table align="center" border="1">
        {% for g in gg %}
                    <tr>
                        <td>{{g.name}}</td>
                        <td>{{g.url}}</td>

                    </tr>
        {% endfor %}
    </table>
</form>

</body>
</html>